/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #000;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #e6618c;
	text-decoration: underline;
}
a:hover {
	color: #fdf208;
	text-decoration:none;
}
a:focus, a:active {
	color: #c83867;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/

body {
    margin-top:50px;    
    font-family:courier;
    background-color:#f1ff54;
}
h1 {
    text-align:center;
    font-size: 5em;
    color: red;
    opacity: 0.2;
    font-family: 'Raleway', sans-serif;    
}    
section {
    text-align:center;
}

#addTodo {
    font-weight:700; /*жирность текста внутри кнопки */
    color: white; /* цвет текста внутри кнопки */
    text-decoration:none; /* Отменяет все эффекты, в том числе и подчеркивания у ссылок, которое задано по умолчанию. */
    padding: 0.8em 1em calc(0.8em + 3px); /* определяется размер прям-ка (кнопки) */
    border-radius: 3px; /* радиус скругления уголков рамки*/
    background: rgb(152, 38, 158); /* фон кнопки */
    box-shadow: 0 -3px 10px rgb(71, 13, 74) inset; /* тень вовнутрь элемента */    
    
}
#addTodo:hover {
    background: rgb(98, 16, 102);
}

#save {
    font-weight:700; /*жирность текста внутри кнопки */
    color: white; /* цвет текста внутри кнопки */
    text-decoration:none; /* Отменяет все эффекты, в том числе и подчеркивания у ссылок, которое задано по умолчанию. */
    padding: 0.8em 1em calc(0.8em + 3px); /* определяется размер прям-ка (кнопки) */
    border-radius: 3px; /* радиус скругления уголков рамки*/
    background: rgb(152, 38, 158); /* фон кнопки */
    box-shadow: 0 -3px 10px rgb(71, 13, 74) inset; /* тень вовнутрь элемента */  
}
#save:hover {
    background: rgb(98, 16, 102);
}
#deleteChecked {
    font-weight:700; /*жирность текста внутри кнопки */
    color: white; /* цвет текста внутри кнопки */
    text-decoration:none; /* Отменяет все эффекты, в том числе и подчеркивания у ссылок, которое задано по умолчанию. */
    padding: 0.8em 1em calc(0.8em + 3px); /* определяется размер прям-ка (кнопки) */
    border-radius: 3px; /* радиус скругления уголков рамки*/
    background: rgb(152, 38, 158); /* фон кнопки */
    box-shadow: 0 -3px 10px rgb(71, 13, 74) inset; /* тень вовнутрь элемента */  
}

#deleteChecked:hover {
    background: rgb(98, 16, 102);
}

#list {
    background: white;
    width: 400px;
    margin: auto;
    margin-bottom: 10px;
    border: 5px groove;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    
}
li {
    border: 1px solid;
    padding: 5px;
}

#input-todo {
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    opacity:0.8;
    border: inset;
}


#deleteTodo {
    		border-radius: 50%; /* кнопка теперь круглая */
			box-shadow:  inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
			float:right;
			height: 20px;			
			position: relative;
			width: 20px;			
}

#deleteTodo:after{
    color:#e9e6e4;
    content: "✖";
    display: block;
    font-size: 10px;
    height: 10px;
    position: absolute;
    width: 10px;
    left: 3px;
	top: 1px;
}

#deleteTodo:hover:after{
    color:#eb2f2f;
       }




